// Fonts
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

$font-family-base: "Merriweather", serif;
$headings-font-family: "Comfortaa", cursive;

// Bootstrap Override
$primary: #023859;
$secondary: #26658c;
$dk-blue: #011C40;
$lt-blue: #a7ebf2;
$brick-red: #A65146;
$accent: #8C382D;
$white: #f0f0f0;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "lt-blue": $lt-blue,
  "white": $white,
  "dk-blue": $dk-blue,
  "accent": $accent,
);

// Bootstrap Import
@import "bootstrap/scss/bootstrap";
