
/* Footer */
/* footer a {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 0;
  height: 2px;
  background-color: #a65146;
  transition: width 0.3s ease;
}

footer a:hover::after {
  width: 100%;
}

footer a:hover i {
  color: #a7ebf2;
  transition: color 0.3s ease;
} */